<style>
    header.main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        background-color: rgb(83, 83, 83);
        text-align: center;
        color: white;
    }

    header.main p {
        margin: 0px;
        font-size: 24px;
    }
</style>
<header class="main">
    <p>Arthur Clark</p>
</header>
