@inherits LayoutComponentBase
<div style="position: relative; min-height: 100vh">
    <Header />
    <div>
        <NavMenu />
    </div>
    <div style="padding-bottom: 10vh;">
        @Body
    </div>
    <Footer />
</div>
