<style>
    .game-container {
        width: 500px;
        height: 730px;
        position: absolute;
        left: 80px;
    }
    .border-left {
        width: 80px;
        height: 790px;
        position: absolute;
        background-color: white;
        z-index: 2;
    }
    .border-right {
        left: 580px;
        width: 80px;
        height: 790px;
        position: absolute;
        background-color: white;
        z-index: 2;
    }
    .border-top {
        width: 660px;
        height: 60px;
        position: absolute;
        background-color: white;
        z-index: 2;
        top: -60px;
        left: -80px;
    }
    .sky {
        background-image: url("./images/fb-game-background.png");
        width: 500px;
        height: 580px;
        position: absolute;
    }
    .ground {
        background-image: url("./images/bottom-background.png");
        width: 500px;
        height: 150px;
        position: absolute;
        top: 580px;
        z-index: 1;
    }
    .bird {
        background-image: url("./images/flappy-bird.png");
        width: 60px;
        height: 45px;
        left: 220px;
        position: absolute;
    }
    .pipe {
        background-image: url("./images/flappybird-pipe.png");
        width: 60px;
        height: 300px;
        position: absolute;
    }
    .pipe.top {
        transform: rotate(180deg);
    }
</style>

<div style="display: flex; margin: 10vh 0 0 0">
    <div class="border-left"></div>
    <div class="game-container" tabindex="0" @onclick="_gameManager.StartGame" @onkeyup="HandleKeyUp">
        <div class="border-top"></div>
        <div class="sky">
            <Bird Model="_gameManager.Bird" />
        </div>
        <div class="ground"></div>
        @foreach (var pipe in _gameManager.Pipes)
        {
            <Pipe Model="pipe" />
        }
    </div>
    <div class="border-right"></div>
</div>

@code {
    private GameManager _gameManager = default!;

    protected override void OnInitialized()
    {
        _gameManager = new GameManager();
        _gameManager.MainLoopCompleted += (o, e) => StateHasChanged();
    }

    void HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == " ")
        {
            _gameManager.Jump();
        }
    }
}
