header {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 15vh;
    background-color: rgb(83, 83, 83);
    text-align: center;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom:0;
    background-color: rgb(83, 83, 83);
    text-align: center;
    color: white;
}

header p {
    margin: 0px;
    font-size: 24px;
}

footer p {
    margin: 0px;
}