@inherits LayoutComponentBase

<div>
    <div class="header">
        <h1>Arthur Clark (WIP)</h1>
    </div>
    <div>
        <NavMenu />
    </div>
    <div>
        @Body
        <footer class="main-footer">
            Footer
        </footer>
    </div>
</div>
