@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @Body
        <footer>
            (Footer goes here)
        </footer>
    </div>
</div>
