<div>
    <ul class="nav-bar">
        <li class="nav-item">
            <button class="menu-btn" @onclick="ToggleNavMenu">
                Menu
            </button>
        </li>
    </ul>
</div>

@if (collapseNavMenu)
{
<div>
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="https://github.com/Clarkmeister?tab=repositories" target="_blank">
                Github
            </NavLink>
        </li>
        <li>
            <NavLink href="https://www.linkedin.com/in/clarkarthur57/" target="_blank">
                LinkedIn
            </NavLink>
        </li>
    </ul>
</div>
}

@code {
    private bool collapseNavMenu = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
