<div>
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                 Home
            </NavLink>
        </li>
        <li>
            <NavLink href="https://github.com/Clarkmeister?tab=repositories" target="_blank">
                Github
            </NavLink>
        </li>
        <li>
            <NavLink href="https://www.linkedin.com/in/clarkarthur57/" target="_blank">
                LinkedIn
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
