<div>
    <ul class="nav-bar">
        <li class="nav-item">
            <button class="menu-btn" @onclick="ToggleNavMenu">
                Menu
            </button>
        </li>
    </ul>
</div>

@if (!collapseNavMenu)
{
<div>
    <ul class="nav-list">
        <li class="nav-link">
            <NavLink href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                Home
            </NavLink>
        </li>
        <li class="nav-link">
            <NavLink href="test" @onclick="ToggleNavMenu">
                Test
            </NavLink>
        </li>
        <li class="nav-link">
            <NavLink href="https://github.com/Clarkmeister?tab=repositories" target="_blank" @onclick="ToggleNavMenu">
                Github
            </NavLink>
        </li>
        <li class="nav-link">
            <NavLink href="https://www.linkedin.com/in/clarkarthur57/" target="_blank" @onclick="ToggleNavMenu">
                LinkedIn
            </NavLink>
        </li>
    </ul>
</div>
}

@code {
    private bool collapseNavMenu = true;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
