@page "/flappybird"
@layout Blank

<NavMenu />
<p>Left-Click on Game Window to start and use Spacebar to jump. Window currently does not scale, so zooming out may be required to see full game window. (Currently does not work on mobile.)</p>
<GameContainer />
