@page "/flappybird"
@layout BlankLayout

<NavMenu />
<p style="padding: 5px 10px; margin: 0; background: white; font-size: 0.9rem;">
    Left-click the game window to start &mdash; Spacebar to jump. (Desktop only, does not scale on mobile.)
</p>
<GameContainer />
