@page "/fullscreen"
@layout Blank
@implements IAsyncDisposable
@inject IJSRuntime JS

<style>
    #fullscreen-div {
        background-color: steelblue;
        height: 20vh;
        width: 20vw;
        display:flex;
        justify-content:center;
        align-items:center;
        text-align: center;
        color: white;
    }
    #fullscreen-div:fullscreen {
        position:absolute;
        width: 100vw;
        height: 100vh;
        top:0;
        left:0;
        background-color: steelblue;
    }
    #fullscreen-div:-webkit-full-screen {
        position:absolute;
        width: 100vw;
        height: 100vh;
        top:0;
        left:0;
        background-color: steelblue;
    }
</style>
    <NavMenu />
    <h1>Fullscreen Example</h1>
    <div id="fullscreen-div">
        <img height="100%" src="images/owl.png" alt="Hawk Picture">
    </div>
    <button style="width: 20vw; height 5vh; padding: 6px 0px" @onclick="TriggerPrompt">Go Fullscreen</button>
    <br>
    <p>Does not work on mobile iOS</p>

@code {
    private IJSObjectReference module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./scripts.js");
        }
    }
    private void TriggerPrompt()
    {
        module.InvokeAsync<string>("openFullscreen");
        StateHasChanged();
    }
    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}