@page "/"

<style>
    li,ul,h2,p {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    li,p {
        font-size: 20px;
        list-style: none;
    }
    h2 {
        font-size: 30px;
    }
</style>
<main>
    <div style="margin: 0px 20px 0px 20px; ">
        <br>
        <h2 style="margin: 0px;">Current Education and Work History: </h2>
        <ul>
            <li>Bachelor Degree | Software Engineering Technology | <a href="https://www.oit.edu/">Oregon Institute of Technology</a> | March 2020</li>
            <br><li>Internship | <a href="https://portlandgeneral.com/">Portland General Electric</a> | June 2018 - December 2018 </li>
            <br><li>Internship | <a href="https://www.intel.com/"> Intel Corperation </a> | July 2017 - January 2018 </li>
            <br><li>Combine Operator and Mechanic - 2004-2014</li>
            <br><li>High School Diploma - 2007</li>
        </ul>
        <h2>About Me</h2>
        <p>I grew up in a small town and started operating farm equipment for a summer job after I turned 15. In 2007 I earned my high school diploma.</p> 
        <p>I continued to operate and work on farm equipment after high school until I turned 25. I farmed in Hermiston, Oregon, Winnemucca, Nevada, and Ames, Iowa. I mostly operated and worked on combines but also drove tractor and swather.</p> 
        <p>After 10 years of farming, I decided that I wanted to pursue other interests and decided I wanted to learn how computers work. I decided to attend Oregon Tech in Klamath falls. I started out going for a degree in Hardware Engineering, but at the end of my first year we were asked to lock in our majors and I changed to Software Engineering Technology. I chose software over hardware becuase I liked the pace of writing software and the ability to quickly fix bugs. Writing code seemed almost like solving a puzzle to get the computer to do what you wanted it to do.</p>
        <p>While at Oregon Tech, I signed up for an internship program which helped me get two 6-month internships.</p>
        <p>My first internship was at Intel as an Automated Testing Intern. I created and managed automated test code for Bluetooth/Wi-Fi chips. I debugged test results to determine if errors were a driver issue or a test code issue. I also maintained test beds to make sure tests were accurate. </p>
        <p>The second internship I did was at Portland General Electric as a Cloud & DevOps Engineering Intern. I worked on a proof of concept using Packer, Terraform, and Docker to create a template to deploy scalable, load balanced web servers. They deployed to virtual machines on a cloud platform. I worked with AWS, Microsoft Azure, and Google Cloud. </p>
        <p>I graduated from Oregon Institute of Technology with a BS in Software Engineering Technology in March of 2020. Since graduating I have been working on personal projects, some of which can be found on my <a href="https://github.com/Clarkmeister?tab=repositories" target="_blank">Github</a>, and searching for full-time positions as a software developer.</p>
        <br> 
    </div>
</main>
