@page "/resume"

<style>
    iframe {
        width: 100vw;
        height: 100vh;
    }
</style>

<main>
    <div>
        <iframe src=".\pdf\Arthur_Clark_Resume.pdf" height="200" width="300"></iframe>
    </div>
</main>
